body{
	text-align:left;
	padding:0;
	  margin: 0;
	  font-size:11px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width:100%;
}

@page {
      margin: 2cm;
   }

th{
	padding-top: 12px;
  padding-bottom: 12px;
}

table, th, td
{
  border-collapse:collapse;
  border: 1px solid black;
  
}

td{
	vertical-align: top;
	padding: 8px;
}

.text-right{
	text-align:right;
}

.text-left{
	text-align:left;
}

.text-center{
	text-align:center;
}

:before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.col-sm-6 {
  width: 48%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  position: relative;
  min-height: 1px;
}

p {
  margin-bottom: 10px;
}

abbr[title], abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999;
}

.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
  content: " ";
  display: table;
}
.clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after {
  clear: both;
}

.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
  content: " ";
  display: table;
}

.row {
  margin-left: -10px;
  margin-right: -10px;
}

.btn-invoice
{
	display:none !important;
}